/* .bodyContent{
  background-color:#000000;
  //background-image:url('./../Image/background-harry-potter.jpg');
  
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:center;
} */

.navSection {
  background-color:#8350AB;
  height: auto;
  float : right;
  text-align : center;
  width : 180px;
  font-size : 18px;
  font-weight: bold;  
  margin-bottom : 150px;
  margin-top : -8px;
  padding-top : 100;
  padding-bottom : 30px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.buttonSection {
  padding: 18px 14px 18px 16px;
  margin: 100;
  align-items: center;
}

.cardSection{
  color: rgb(255, 255, 255);
}

.txtTitulo{
  font-size: 14;
  color: aliceblue;
}